<div class="container-fluid">
    <h1 style="text-align:center">Welcome to Home page!!</h1>
    <br>
    <br>
    <nav class="navbar navbar-dark bg-primary">
        <!--div class="button"-->
            <button type="button" class="btn btn-danger" (click)="logout()"> Logout </button>
            <button type="button" class="btn btn-primary" (click)="asset()"> Asset Details </button>
            <button type="button" class="btn btn-primary" (click)="vendor()"> Vendor Details </button>
            <button type="button" class="btn btn-primary" (click)="purchase()"> Purchase details</button>
            <button type="button" class="btn btn-primary" (click)="master()"> AssetMaster</button>
        <!--/div-->

    </nav>

</div>